.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 16px; */
  color: #333;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: left;
  color: #2b7e57; /* Blue font color */
}
.primary{
  background-color: #8fc73d!important;
  border: #8fc73d!important;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%;
}

label {
  display: block;
}

select, textarea, input[type="text"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #2b7e57; /* Blue font color */
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #2b7e57; /* Blue font color */
}

/* button[type="submit"] {
  background-color: #333;
  color: white;
}

button[type="button"] {
  background-color: #ccc;
} */
.table thead th, .table-bordered thead th, .table-striped thead th {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table th.width-200, .table td.width-200, .table-bordered th.width-200, .table-bordered td.width-200, .table-striped th.width-200, .table-striped td.width-200 {
  width: 200px;
}
.react-bootstrap-table th.sortable {
  cursor: pointer;
}
.table-xs th, .table-xs td {
  padding: 3px 5px;
  height: auto;
}
.table th, .table td, .table-bordered th, .table-bordered td, .table-striped th, .table-striped td {
  line-height: 21px;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}
th {
  text-align: -webkit-match-parent;
}
.table th.width-100, .table td.width-100, .table-bordered th.width-100, .table-bordered td.width-100, .table-striped th.width-100, .table-striped td.width-100 {
  width: 100px;
}
.table th.width-200, .table td.width-200, .table-bordered th.width-200, .table-bordered td.width-200, .table-striped th.width-200, .table-striped td.width-200 {
  width: 200px;
}
.table th.readonly, .table td.readonly, .table-bordered th.readonly, .table-bordered td.readonly, .table-striped th.readonly, .table-striped td.readonly {
  cursor: auto;
}
.tabular-report{
  width: 100%;
}

.table tbody tr td, .table-bordered tbody tr td, .table-striped tbody tr td {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-xs th, .table-xs td {
  padding: 3px 5px;
  height: auto;
}
.table th, .table td, .table-bordered th, .table-bordered td, .table-striped th, .table-striped td {
  padding: 6px;
  height: 32px;
  line-height: 21px;
  cursor: default;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}
.create-ticket-button {
  background-color: #8cbb45;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  align-self: flex-start;
}

.table-xs th td{
        padding: 3px 5px;
        height: auto;
}
.status-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.status-in-progress {
  background-color: #333;
}

.status-waiting {
  background-color: #888;
}

.status-completed {
  background-color: #28a745;
}

.status-rejected {
  background-color: #dc3545;
}
